<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="text-center">
        <ion-row>
            <ion-col size="12">
                App Name: <strong>iWeather App</strong>
            </ion-col>
            <ion-col size="12">
                Description: <strong>Weather Info</strong>
            </ion-col>
            <ion-col size="12">
                Version: <strong>V1.0</strong>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>